.msg-overlay-bubble__container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 100%;
  border: 1px solid var(--black-color-light);
  z-index: 1000;
  border-top-left-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 3px 10px var(--black-color-m-light);
}

.msg-overlay-bubble__container-header {
  position: relative;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black-color-light);
}

.msg-overlay-bubble__container-header > span {
  display: flex;
  align-items: center;
}

.msg-overlay-bubble__container-header img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-right: 0.5rem;
}

.msg-overlay-bubble__container-header button svg {
  font-size: 1.2rem;
  font-weight: 900;
}

/**sdggggggg*/
.msg-overlay-bubble__container-messages {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  height: 0;
  cursor: pointer;
}

.msg-overlay-bubble__container-messages.active {
  height: 70vh;
}

.msg-overlay-bubble__container-message-new {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.msg-overlay-bubble__container-message-new::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid var(--black-color-light);
  width: 80%;
}

.msg-overlay-bubble__container-message-new img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-right: 0.5rem;
  min-width: 3rem;
}

.msg-overlay-bubble__container-messages-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.msg-overlay-bubble__container-messages-info h4 {
  font-size: 0.9rem;
  font-weight: 500;
}

.msg-overlay-bubble__container-messages-info p {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--black-color-m-light);
}

.msg-overlay-bubble__container-messages-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.msg-overlay-bubble__message-box {
  position: absolute;
  bottom: 0;
  right: 105%;
  width: 350px;
  height: 60vh;
  border: 1px solid var(--black-color-light);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--white-color);
  z-index: inherit;
  display: none;
  flex-direction: column;
  box-shadow: 0 3px 15px var(--black-color-m-light);
}

.msg-overlay-bubble__message-box.open-chat {
  display: flex;
}

.msg-overlay-bubble__message-box.bigSize {
  width: 450px;
  height: 80vh;
}

/* chat body is here*/
.chat__body {
  flex: 1;
  background-color: var(--white-color);
  overflow: auto;
}

.msg-overlay-bubble__message-box-input {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 40px;
  border-top: 1px solid lightgray;
}

.msg-overlay-bubble__message-box-input > form {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.msg-overlay-bubble__message-box-input > form > textarea {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  resize: none;
  border-radius: 0.5rem;
  z-index: 1;
}

.msg-overlay-bubble__message-box-input > form > textarea:focus,
.msg-overlay-bubble__message-box-input > form > textarea:active {
  height: 200px;
  box-shadow: 0 2px 15px var(--black-color-m-light);
}

.msg-overlay-bubble__message-box-input > form > button {
  border: none;
  cursor: pointer;
  margin: 0.2rem;
}

/*  Some media queries */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .msg-overlay-bubble__container {
    width: 40%;
  }

  .msg-overlay-bubble__message-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 60vh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
  }
  .msg-overlay-bubble__message-box.bigSize {
    width: 60%;
    height: 80vh;
  }
}

@media screen and (max-width: 600px) {
  .msg-overlay-bubble__container {
    flex-direction: column-reverse;
  }

  .msg-overlay-bubble__container {
    width: 300px;
  }

  .msg-overlay-bubble__message-box {
    width: 100vw;
  }

  .msg-overlay-bubble__message-box.bigSize {
    width: 100vw;
    height: 80vh;
  }
}

@media screen and (max-width: 540px) {
}

@media screen and (max-width: 414px) {
  .msg-overlay-bubble__container {
    width: 100%;
    border-top-left-radius: 0;
  }
}

@media screen and (max-width: 320px) {
}
